<template lang="html">
    <div class="chat-composer">
        <input  type="text"
                class="chat-composer__input"
                placeholder="Start typing your message"
                v-model="messageText"
                @keydown.enter="sendMessage"
                />
        <button class="btn btn-primary chat-composer__btn" @click="sendMessage">Send</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                messageText: ""
            }
        },

        methods: {
            sendMessage() {
                this.$emit('messagesent', {
                    message: this.messageText,
                    user: {
                        name: $('.navbar-right .dropdown .dropdown-toggle').text()
                    }

                });

                this.messageText = "";
            }
        }
    }
</script>

<style lang="css">
    .chat-composer {
        display: flex;
    }

    .chat-composer__input {
        flex: 1 auto;
    }
    .chat-composer__btn {
        border-radius: 0;
    }
</style>